<form action="/login" method="post">
    <label for "nombre">Nombre </label>
    <input type="text" placeholder="nombre a mostrar" id="nombre" name="username"/>
    <p><input type="submit" value="entrar" /></p>
</form>
