body{
    margin: 0 auto;
    width: 700px;
    font-size: 16px;
    font-family: "Trebuchet MS", Helvetica, sans-serif; 
    border-radius: 5px;
    color: #444;
}

a{
    color: #37326B;
    text-decoration: none;
}

#host{
    background-color: #4C3068;
    color: #F6F2E7;
}

.help-text{
    color: #747178;
    font-size: 0.85em;
}

html, body{
    background-color: #ece8da;
    text-shadow: white 0px 1px 0px;
}

form{
    text-align: center;
    margin-top: 100px;
}

input[type=text], textarea{
    background: white url(/images/input_bg.gif) repeat-x 50% 0%;
    border: 1px solid #BBB;
    color: #222;
    font: normal normal normal 13px/normal 'Lucida Grande', Helvetica, Arial, sans-serif;
    margin: 0px;
    outline: ;
    padding: 7px;
 
}


/*código obtenido de : http://ubuwaits.github.com/css3-buttons/ */
input[type=submit] {
  background: #7fbf4d;
  background: -moz-linear-gradient(0% 100% 90deg,#63a62f, #7fbf4d);
  background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#7fbf4d), to(#63a62f));
  border: 1px solid #63a62f;
  border-width: 1px 1px 0 1px;
  border-radius: 2px;
  -moz-border-radius: 2px;
  -webkit-border-radius: 2px;
  box-shadow: inset 0 1px 0 0 #96ca6d;
  -moz-box-shadow: inset 0 1px 0 0 #96ca6d;
  -webkit-box-shadow: inset 0 1px 0 0 #96ca6d;
  color: #fff;
  font-family: "lucida grande", sans-serif;
  font-size: 11px;
  font-weight: bold;
  line-height: 1;
  padding: 7px 0 8px 0;
  text-align: center;
  text-shadow: 0 -1px 0 #4c9021;
  width: 150px;
}

input[type=submit]:hover {
  background: #5a962c;
  background: -moz-linear-gradient(0% 100% 90deg,#5a962c, #72ac45);
  background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#72ac45), to(#5a962c));
}

input[type=submit]:active {
  background: #7fbf4d;
  background: -moz-linear-gradient(0% 100% 90deg,#7fbf4d, #63a62f);
  background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#63a62f), to(#7fbf4d));
  box-shadow: none;
  -moz-box-shadow: none;
  -webkit-box-shadow: none;
  border-width: 0 1px 1px 1px;
  padding: 8px 0 7px 0;
}
