<span id="text-bubble">
    <!--Todo código dentro de <%%> será evaluado como código de ruby-->
    <!--véase: http://ruby-doc.org/stdlib/libdoc/erb/rdoc/classes/ERB.html-->
    El resultado es <%=@res%>
</span>
<form action="/calcu" method="get" id="calcu">
    <label for="primero">
        Primer valor
        <input type="text" placeholder="introducí x" id="primero" name="x" required />
    </label>
    <label for="segundo">Segundo valor
        <input type="text" placeholder="introducí y" id="segundo" name="y" required />
    </label>
    <select name="op">
        <option value="sum">Suma</option>
        <option value="min">Resta</option>
        <option value="mul">Multiplicación</option>
        <option value="div">División</option>
    </select>
    <input type="submit" value="Calcular" />
</form>
<img src="blix-neg.gif" id="gato"/>
